@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@* lets you add a counter componenent to the home page *@
<Counter IncrementAmount = "10" /> 
@* When the element is set to 10 it will increment by that amount with every click *@
